@{
    ViewData["Title"] = "¡Escapaste!";
}

<div class="gano-container">
    <div class="gano-content">
        <h1 class="gano-titulo">¡FELICITACIONES!</h1>
        <p class="gano-mensaje">Has logrado escapar del orfanato y resolver todos los misterios.<br>¡Tu ingenio y valentía te han llevado a la libertad!</p>
        <a href="/" class="gano-btn">Volver al inicio</a>
    </div>
</div>
