@{
    ViewData["Title"] = "¡Ganaste!";
}
     <audio autoplay loop>
    <source src="/audio/lluvia.mp3" type="audio/mpeg"> 
    Tu navegador no soporta el audio.
</audio>
<h1>¡Felicidades!</h1>
<p>Has logrado escapar del orfanato con éxito.</p>

<a asp-controller="Home" asp-action="Index">Volver al inicio</a>
