<div class="habitacion-pantalla">
    <div class="habitacion-caja">
        <p class="habitacion-descripcion">@Model.Descripcion</p>
        <p class="habitacion-pista">@Model.Pista</p>

        <div class="habitacion-imagen">
            <img src="/img/Habitacion1.webp" alt="imagen pista" />
        </div>

        <form method="post" asp-action="ResolverHabitacion" class="habitacion-formulario">
            <label for="respuesta">Palabra clave:</label>
            <input type="text" name="respuesta" id="respuesta" class="habitacion-input" required />
            
            <!-- Campo oculto para enviar el número de la habitación -->
            <input type="hidden" name="habitacionNumero" value="@Model.Numero" />

            <button type="submit" class="habitacion-boton">Enviar</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <p class="habitacion-error">@ViewBag.Error</p>
        }
    </div>
</div>


