@model TP05_Kampel_Pita.Models.Habitacion
@{
    ViewData["Title"] = $"Habitación {@Model.Numero}";
}
     <audio autoplay loop>
    <source src="/audio/lluvia.mp3" type="audio/mpeg"> 
    Tu navegador no soporta el audio.
</audio>
<div class="habitacion2-container">
    <div class="habitacion2-content">
        <h1 class="titulo-habitacion">El comedor</h1>

        <div class="descripcion">
            <p>@Model.Descripcion</p>
        </div>

        <div class="pista">
            <p>@Model.Pista</p>
        </div>
   

        <div class="acertijos">
            <ol>
                <li>No soy humano, pero tengo cabeza. Me usan en la cocina y corto sin pereza. ¿Qué soy?</li>
                <li>En una hoja estoy, con rayas me verás. Si me llenas con atinta, mucho sabrás. ¿Qué soy?</li>
                <li>En tu espalda estoy, peso a veces doy. Para ir al colegio, siempre voy. ¿Qué soy?</li>
            </ol>
        </div>

        <form asp-controller="Home" asp-action="ResolverHabitacion" method="post" class="form-respuesta">
            <input type="hidden" name="habitacionNumero" value="2" />
            <div class="input-container" data-tooltip="Ingresa una letra por cada objeto (en orden)">
                <input type="text" 
                       required
                       name="respuesta"
                       placeholder="Escribe los números aquí..."
                       autocomplete="off"
                       maxlength="4"
                       style="margin-bottom: 1.2rem;" />
            </div>
            <button type="submit">Verificar Respuesta</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <div class="error">
                @ViewBag.Error
            </div>
        }

        <a href="@Url.Action("Index", "Home")" class="btn-volver">Volver al Inicio</a>
    </div>
</div>
