@{
    ViewData["Title"] = "Historia";
}

<div class="inicio-container text-center">
    <h1>Historia</h1>

    <div class="historia">
        <p>
            Había una gran tormenta y estaba perdido. Por suerte encontré un edificio, parece que es un orfanato abandonado.
            Cuando entré, vi que los juguetes estaban intactos... alguien había estado jugando con ellos. 
            Las puertas se cerraron detrás de mí. ¡Creo que oí risas de niños! Todo se ve oscuro...
            Espero que no haya nadie más allí...
        </p>
    </div>

   <div style="text-align: center;">
  <a href="/Home/Index" class="btn-volver">Volver al Inicio</a>
</div>



</div>
