@{
    ViewData["Title"] = "Integrantes del grupo";
}
<audio autoplay loop>
    <source src="/audio/tormenta.mp3" type="audio/mpeg"> 
    Tu navegador no soporta el audio.
</audio>
<div class="inicio-container text-center">
    <h1>Integrantes del Grupo</h1>

    <div class="integrantes">
        <div>
            <img src="/img/RAMI.png" alt="Ramiro Pita" />
            <p>Ramiro Pita</p>
        </div>
        <div>
            <img src="/img/LU.png" alt="Luciana Kampel" />
            <p>Luciana Kampel</p>
        </div>
    </div>
<div style="text-align: center;">
  <a href="/Home/Index" class="btn-volver">Volver al Inicio</a>
</div>



</div>
