@{
    ViewData["Title"] = "Perdiste";
}
<audio autoplay loop>
    <source src="/audio/lluvia.mp3" type="audio/mpeg"> 
    Tu navegador no soporta el audio.
</audio>
<h1>¡Tiempo terminado!</h1>
<p>Lo siento, no lograste escapar a tiempo.</p>

<a asp-controller="Home" asp-action="Index">Volver al inicio</a>
