@{
    ViewData["Title"] = "Reglas del juego";
}
<audio autoplay loop>
    <source src="/audio/tormenta.mp3" type="audio/mpeg"> 
    Tu navegador no soporta el audio.
</audio>
<div class="inicio-container text-center">
    <h1>Reglas del Juego</h1>

    <ul class="reglas-lista">
        <li>Dispones de 60 minutos para escapar.</li>
        <li>Debes resolver 4 habitaciones, cada una con un acertijo distinto.</li>
        <li>Solo puedes avanzar si respondes correctamente.</li>
        <li>Ten cuidado: cada error te hace perder tiempo valioso.</li>
    </ul>

   <div style="text-align: center;">
  <a href="/Home/Index" class="btn-volver">Volver al Inicio</a>
</div>



</div>

