@{
    ViewData["Title"] = "Traductor de código";
}

<div class="habitacion-pantalla">
    <div class="habitacion-caja">
        <h2>Traductor visual</h2>
        <p>Usá esta tabla para traducir números a letras:</p>
        <audio autoplay loop>
    <source src="/audio/lluvia.mp3" type="audio/mpeg"> 
    Tu navegador no soporta el audio.
</audio>

        <table style="margin: 0 auto; border-collapse: collapse; font-size: 18px; color: white;">
            <thead>
                <tr>
                    <th style="padding: 10px; border-bottom: 1px solid #ccc;">Número</th>
                    <th style="padding: 10px; border-bottom: 1px solid #ccc;">Letra</th>
                </tr>
            </thead>
            <tbody>
                <tr><td style="padding: 6px;">0</td><td style="padding: 6px;">H</td></tr>
                <tr><td>1</td><td>Q</td></tr>
                <tr><td>2</td><td>U</td></tr>
                <tr><td>3</td><td>P</td></tr>
                <tr><td>4</td><td>L</td></tr>
                <tr><td>5</td><td>O</td></tr>
                <tr><td>6</td><td>E</td></tr>
                <tr><td>7</td><td>M</td></tr>
                <tr><td>8</td><td>S</td></tr>
                <tr><td>9</td><td>J</td></tr>
                <tr><td>10</td><td>Z</td></tr>
                <tr><td>11</td><td>G</td></tr>
                <tr><td>12</td><td>V</td></tr>
                <tr><td>13</td><td>N</td></tr>
                <tr><td>14</td><td>X</td></tr>
                <tr><td>15</td><td>D</td></tr>
                <tr><td>16</td><td>B</td></tr>
                <tr><td>17</td><td>R</td></tr>
                <tr><td>18</td><td>S</td></tr>
                <tr><td>19</td><td>T</td></tr>
                <tr><td>20</td><td>C</td></tr>
                <tr><td>21</td><td>Ñ</td></tr>
                <tr><td>22</td><td>W</td></tr>
                <tr><td>23</td><td>A</td></tr>
                <tr><td>24</td><td>Y</td></tr>
                <tr><td>25</td><td>K</td></tr>
            </tbody>
        </table>

         <a href="Habitacion1" class="btn-volver">Volver a la recepción</a>

    </div>
</div>
